body{
    background-color: skyblue;
    font-family:cursive;
}
a{
    color:dodgerblue;
    font-weight: 10px;
    font-family: 'Times New Roman', Times, serif;
    height:500px;
    width:400px;
}
h1{
    color:green;
    font-size: 50px;
}
h4{
    color: powderblue;
    font-size: 25px;
}
h2{
    color:darkblue;
    font-size:35px;
    font-weight: bold;
}
p{
    color:cadetblue;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color:black;
    font-size:20px
}
p2{
    color:maroon;
    font-weight: bold;
}
